@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

a{
  text-decoration: none;  
  color: inherit;
}
.app{
    min-height: 100vh;
    color: white;
    background: linear-gradient(#0b004e, #1d152f, #002834);
}